// Links
//
// Style anchor elements.

$link-color:                color('blue') !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15) !default;
$link-hover-decoration:     underline !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Source Sans Pro', -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-family-headings:        'PT Serif', $font-family-sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              16px !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.6 !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

// Printing
$print-page-size:             a3 !default;
$print-body-min-width:        map-get($grid-breakpoints, 'lg') !default;
